<div class="left">
    <img class="avatar" src="<%= avatar_url %>">
    <h2 class="name">
        <%= name %>
    </h2>
    <h4 class="blog"> blog:
        <a href="<%= blog %>">Medium.com</a>
    </h4>
    <h4 class="Email"> Contact me by Email:
        <%= email %>
    </h4>
    <h4 class="followers"> followers:
        <%= followers %>
    </h4>
    <h4 class="hireable"> Want to hire me?
        <%= hireable %>
    </h4>
    <h4 class="location"> Located in
        <%= location %>
    </h4>
</div>
